<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455608685680-kiqtau9k8je1329bso70lll2559qjsna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455608685680-kiqtau9k8je1329bso70lll2559qjsna</string>
	<key>API_KEY</key>
	<string>AIzaSyBn681LWdc4ks-_ZDUmNvxLjYgXtHkEM4U</string>
	<key>GCM_SENDER_ID</key>
	<string>455608685680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exe201</string>
	<key>PROJECT_ID</key>
	<string>exe201</string>
	<key>STORAGE_BUCKET</key>
	<string>exe201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455608685680:ios:fe866747fe4cea381ad0b5</string>
</dict>
</plist>